# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bun
.bun/

# React (built files)
build/
*.cache/

# pnpm
.pnpm-debug.log*
node_modules/
shrinkwrap.yaml
pnpm-lock.yaml

# Vite
dist/
.vite/
*.env.local
*.env.*
.env.docker
!.env.docker.example
!.env.example
.env

# VSCode
.vscode/
*.code-workspace
.history/

# WebStorm / JetBrains IDEs
.idea/
*.iml
*.iws
out/

# Linux
*~
.nfs*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Miscellaneous
*.log
*.temp
*.tmp
*.swp
*.swo
*.bak
*.orig
*.lock